<div id="search-component" class="dropdown">
  <!--<h4><label for="search-box">Hero Search</label></h4>-->


  <input #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="Buscar..." />


  <ul class="search-result">
    <li *ngFor="let hero of heroes$ | async">
      <a routerLink="/detail/{{hero.id}}" class="">
        {{hero.name}}
      </a>
    </li>
  </ul>



</div>

<!--

  <div class="search-result dropdown-menu" *ngFor="let hero of heroes$ | async">
    <a routerLink="/detail/{{hero.id}}" class="dropdown-item">{{hero.name}}</a>
  </div>



 <select class="search-result dropdown-menu" *ngFor="let hero of heroes$ | async">
    <option routerLink="/detail/{{hero.id}}" class="dropdown-item">{{hero.name}}</option>
  </select>



  <ul class="search-result dropdown-menu">
    <li *ngFor="let hero of heroes$ | async" >
      <a routerLink="/detail/{{hero.id}}" class="dropdown-item">
        {{hero.name}}
      </a>
    </li>
  </ul>
</div>
-->



<!--
  <div class="dropleft">
      <button class="btn" type="button" id="iniciarSesionImg" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <img src="./homeimg/user.png" width="50" alt="Iniciar sesión" role="button">
      </button>

      <div class="dropdown-menu bg-amarillo">
          <a class="dropdown-item" href="#">Iniciar sesión</a>
          <a class="dropdown-item" href="#">Regístrate</a>
      </div>
  </div>
-->